/* spacing */

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    font-size: 1.5vw;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

thead th:nth-child(1) {
    width: 15%;
}

th {
    width: 50px;
    padding: 20px;
}

td {
    word-wrap: break-word;
    padding: 20px;
}

/* typography */

html {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
}

thead th,
tfoot th {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

tbody td {
    text-align: center;
}

tfoot th {
    text-align: right;
}
